@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	margin: 0px;
	background-color: #F0DCCA;
}

h1,h2,h3 {
	font-family: 'Fjalla One', sans-serif;
}

a {
	text-decoration: none;
}